.student_form{
    border: 1px solid black;
    margin: 1px;
    padding: 10px;
    width: fit-content;
    position: absolute;
    right: 11cm;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    background-image: url("download\ \(1\).jpg");
    font-weight: bold;
}
input{
    margin: 5px;
    font-style: italic;
    
}
